/* You can add global styles to this file, and also import other style files */
*{
	padding:0;
	margin:0;
	box-sizing:border-box;	
}


.logo{
	width:120px;
	display:inline-block;
}

.logo img{
	width:100%;
}

.moviecard{
	height:500px;
    margin:0;
	position:relative;
	overflow:hidden;
}

.moviecard img{
	height:100%;
	object-fit:cover;
	
}

.movieTitle{
	position:absolute;
	bottom:0;
	width:100%;
	background-color:#042b5f;
}

.movieoverview{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	padding:5px;
	background:white;
	color:black;
	
	transform:translateY(120%);
	transition:all .4s ease-in-out;
}

.moviecard:hover .movieoverview{
     transform:translateY(0%);
}



























